<div class="conteiner">
  <div class="heading">
    <h1 class="text-center">UNSUBSCRIBE</h1>
  </div>
  <div class="unsubscribe-heading">
    <label class="text-unsubscribe">本当に退会しますか？</label>
  </div>
  <div class="buttom-group">
    <%= link_to "Continue the habit", users_my_page_path(@user.id), class: 'fuwatto_btn_blue' %>
    <%= link_to "Unsubscribe", users_withdrawal_path(@user.id), method: :patch, class: 'fuwatto_btn_red' %>
  </div>

</div>