<div class="about">
  <div class="post-new__bg-opacity">
    <div class="container about__outline">
      <div class="row flex-column justify-content-center about__content">
        <div class="about__message-box justify-content-center">
          <div class="about__message">
            <p class="about__item--title">
              what's praise habit  ?
            </p>
               <br>
            <p class="about__item-first">
              自分から他のユーザーへ応援や励ましのメッセージを送るサイトです。<br>
            </p>
            <p class="about__item-first">
              ・他のユーザーに応援や励ましのメッセージを送ることが出来て<br>
              他のユーザーから送られてきたメッセージに返信することも出来ます！<br>
            </p>
            <p class="about__item-first">
              ・送られてきたメッセージの中で特に元気をもらえた<br>
              メッセージがあればお気入り登録することが出来ます！<br>
            </p>
            <p class="about__item-first">
              ・カレンダーがあり、投稿した日に★マークがつくようになっています。<br>
              どのくらいの頻度でエールを送っているのかがわかり、<br>
              １日の投稿数と１月の投稿数もわかるようになっているので<br>
              自分がどのくらいエール送っているのかがわかります！<br>
            </p>
            <p class="about__item-first">
              ・あなたの一言が人に元気を与えることが出来ると思います。<br>
              まずは、あなたからこのサイトを通してエールを送ってみませんか？
            </p>
          </div>
          <div class="about__message-second">
            <p class="about__item--title">
              why did you make it ?
            </p>
              <br>
            <p class="about__item">
              言葉は相手に伝えると同時に自分にも帰ってくるものだと<br>
              自分は考えています。なので、日々ほかの人にエールを送<br>
              ることで帰って自分のエールにつながると思います。<br>
              そして、多くの人がエールを送りあうことで<br>
              より明るい日々が送れると思ました。<br>
              このサイトを通して実際の身近な人にも<br>
              感謝やエールを送ることが出来るようになれば<br>
              とても明るい日々が過ごせると思います。<br>
               <br>
              このサイトがそんな明るい日々を作るキッカケに<br>
              なってくれることを願って作りました。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>