<div class="conteiner">
  <div class="row flex-column align-items-center top-image">
    <h1 class="title">PRAISE HABIT</h1>
    <p class="sub-title">あなたのエールが誰かのためになり、自分のためになる</p>
  </div>

  <div class="row flex-column align-items-end">
    <div class="in-button">
      <div class="button-effect"></div>
      <%=link_to "HABIT START", new_user_registration_path, class: "button-name" %>
    </div>
    <div class="in-button">
      <div class="button-effect"></div>
      <%=link_to "SEND PRAISE", new_user_session_path, class: "button-name" %>
    </div>
  </div>
</div>
