<div class="conteiner">
  <div class="row">
    <h1>PRAISE HABIT</h1>
    <p>あなたのエールが誰かのためになり、自分のためになる</p>
  </div>

  <div class="row">
    <div class="">
      <%=link_to "HABIT START", new_user_registration_path %>
    </div>
    <div class="">
      <%=link_to "SEND PRAISE", new_user_session_path %>
    </div>
  </div>
</div>
