<div class="top__content">
  <div class="row flex-column align-items-center top__image">
    <h1 class="top__title">PRAISE HABIT</h1>
    <p class="top__sub-title">あなたのエールが誰かのためになり、自分のためになる</p>
  </div>

  <div class="row flex-column align-items-end top-btn">
    <div class="top-btn__button">
      <div class="top-btn__effect"></div>
      <%=link_to "HABIT START", new_user_registration_path, class: "top-btn__link" %>
    </div>
    <div class="top-btn__button">
      <div class="top-btn__effect"></div>
      <%=link_to "SEND PRAISE", new_user_session_path, class: "top-btn__link" %>
    </div>
  </div>
</div>
