.about {
  height: 100%;
  width: 100%;
  background-image: url('praise-1987229_960_720');
  background-position: center;
  background-size: cover;
  opacity: 0.5;

  &__message-box {
    height: 850px;
    width: 600px;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 255px;
    background-color: #f7f7f7;
  }

  &__message {
    padding-top: 50px;
    text-align: center;
  }

  &__message-second {
    padding-top: 30px;
    text-align: center;
  }

}