@import "global";

.about {
  height: 100%;
  width: 100%;
  background-image: image-url('praise-1987229_960_720');
  background-position: center;
  background-size: cover;

  &__bg-opacity {
    @extend %bg-opacity;
  }


  &__message-box {
    height: 850px;
    width: 60%;
    margin-top: 14%;
    margin-bottom: 14%;
    margin-left: 20%;
    background-color: #f7f7f7;
  }

  &__message {
    padding-top: 50px;
    text-align: center;
  }

  &__message-second {
    padding-top: 30px;
    text-align: center;
  }

  &__item-first {
    font-family: 'Shippori Mincho', serif;
    font-size: 16px;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 13%;
    text-align: left;
    text-indent: -1rem;
  }

  &__item {
    font-family: 'Shippori Mincho', serif;
    font-size: 16px;

    &--title {
      font-size: 20px;
      font-weight: 700;
      margin: 0;
    }
  }
}

@media screen and (max-width:1024px) {
  .about {

    &__message {
      padding-top: 40px;
    }

    &__item-first {
      margin-top: 2%;
      margin-bottom: 2%;
      margin-left: 7%;
    }
  }
}

@media screen and (max-width:768px) {
  .about {

    &__message-box {
      width: 80%;
      margin-left: 10%;
    }

    &__message {
      padding-top: 30px;
    }


    &__item-first {
      margin-top: 2%;
      margin-bottom: 2%;
      margin-left: 5%;
    }
  }
}


@media screen and (max-width:425px) {
  .about {

    &__message-box {
      height: 600px;
      width: 90%;
      margin-top: 16%;
      margin-left: 5%;
    }

    &__message {
      padding-top: 5px;
    }

    &__message-second {
      padding-top: 0px;
    }

    &__item-first {
      font-size: 12px;
      margin-top: 1%;
      margin-bottom: 1%;
      margin-left: 5%;
    }

    &__item {
      font-size: 12px;

      &--title {
        font-size: 16px;
      }
    }
  }
}