/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';


// リセットCSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
}

.htmlContainer {
  width: 100%;
  min-width: 1060px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  position: absolute;
  z-index: 2;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.audio_button {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background: url(icon_154430_256.png) no-repeat center center;
  background-size: contain;
}

a.btn-sns {
  font-size: 2.4rem;
  line-height: 50px;

  width: 50px;
  height: 50px;
  padding: 0;

  letter-spacing: 0;

  color: #fff;
  border-radius: 50%;
}

a.btn-sns:hover {
  color: #fff;
}

a.btn-sns--music {
  background: #1877f2;
}

.position {
  margin-top: 100px;
  padding-left: 0;
}

ul {
  list-style: none;
}


.pagination {
  justify-content: center;
  width: 70%;
  margin: 2% 15%;
}

.pagination a {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}


// errore

.field_with_errors {
  display: contents;
}

.error-message {
  width: 40%;
  margin: 2% 30%;
  font-size: 20px;
  padding: 1%;
  background-color: #ffd9d9;
  border-radius: 20px;
  font-weight: bold;
}

.error-messages {
  color: red;
}

.alert {
  margin: 3% 30%;
  text-align: -webkit-center;
  width: 40%;
  font-size: 20px;
  color: red;
}

@media screen and (max-width:1024px) {
  .error-message {
    width: 50%;
    margin: 5% 25%;
    font-size: 16px;
  }
}

@media screen and (max-width:768px) {
  .error-message {
    width: 60%;
    margin: 5% 20%;
    font-size: 16px;
  }
}

@media screen and (max-width:425px) {
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    position: absolute;
    z-index: 2;
  }

  .error-message {
    width: 90%;
    margin: 5% 5%;
    font-size: 16px;
  }
}