@import "global";

.confirm {

  &__heading {
    @extend %heading;
  }

  &__title {
    @extend %title;
  }

  &__box {
    margin-bottom: 5%;
  }

  &__contact-button {
    text-align: center;
    margin-top: 3%;
  }

  &__fuwatto-button {
    @extend %fuwatto-button;
    @extend %fuwatto-button:hover;

    &--blue {
      @extend %fuwatto-button;
      background-color: #3489db;
      width: 15%;
      margin: 2% 4%;
    }

    &--blue:hover {
      @extend %fuwatto-button:hover;
    }
  }
}

@media screen and (max-width:1024px) {
  .confirm {

    &__fuwatto-button {

      &--blue {
        width: 20%;
      }
    }
  }
}

@media screen and (max-width:768px) {
  .confirm {

    &__fuwatto-button {

      &--blue {
        width: 25%;
      }
    }
  }
}

@media screen and (max-width:425px) {
  .confirm {

    &__fuwatto-button {

      &--blue {
        width: 40%;
      }
    }
  }
}