@import "global";

.confirm {

  &__heading {
    @extend %heading;
  }

  &__title {
    @extend %title;
  }

  &__box {
    margin-bottom: 5%;
  }

  &__contact-button {
    text-align: center;
    margin-top: 3%;
  }

  &__fuwatto-button {
    @extend %fuwatto-button;
    @extend %fuwatto-button:hover;

    &--blue {
      @extend %fuwatto-button;
      background-color: #3489db;
      width: 10%;
      margin: 2% 4%;
    }

    &--blue:hover {
      @extend %fuwatto-button:hover;
    }
  }
}