.logo {
  &__main {
  margin: 0 30px;
  color: #000;
  font-family: 'Julius Sans One', sans-serif;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
  display: inline-block;
  transition: .3s;
  }

  &__main:hover {
    transform: translateY(-4px);
    text-decoration: none;
  }
}

@media screen and (max-width:1600px) {
  .logo {
    &__main {
    margin: 0 20px;
    }
  }
}


@media screen and (max-width:768px) {
  .logo {
    &__main {
    margin: 0 10px;
    font-size: 16px;
    }
  }
}

@media screen and (max-width:425px) {
  .logo {
    width: 20%;
    &__main {
    margin: 0 10px;
    font-size: 10px;
    }
  }
}