@import "global";

.my-content {
  display: flex;
  background-color: rgba(237,237,234,0.11);

  &__post {
    width: 50%;
  }

  &__post-heading {
    @extend %content-heading;
  }

  &__post-title {
    @extend %content-title;
  }

  &__post-list {
    @extend %list;
  }

  &__post-item {
    @extend %box;
  }

  &__post-item:hover {
    @extend %box-hover;
  }


  &__post-name {
    font-size: 20px;
    font-family: 'Shippori Mincho', serif;
  }

  &__post-content {
    font-size: 20px;
    font-family: 'Shippori Mincho', serif;
    margin-top: 3%;
    margin-bottom: 5%;
  }

  &__post-time {
    font-size: 18px;
    font-family: 'Shippori Mincho', serif;
  }

  &__favorite {
    width: 50%;
  }

  &__favorite-heading {
    @extend %content-heading;
  }

  &__favorite-title {
    @extend %content-title;
  }

}