@import "global";

.my-page {
  background-color: rgba(237,237,234,0.1);
  &__heading {
    @extend %heading;
  }

  &__title {
    @extend %title;
  }

  &__profile {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }

  &__profile-content {
    display: flex;
    height: 150px;
    width: 45%;
    justify-content: center;
    background: #e7f5fe;
    box-shadow: #e7f5fe 0 0 10px 10px;
    border-radius: 10px;
  }

  &__icon_image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
  }

  &__profile-box {
    width: 75%;
    font-family: 'Prata', serif;
    padding: 1.5% 0;
  }

  &__profile-name {
    font-size: 20px;
    width: 30%;
    text-align: right;
    margin: 0;
  }

  &__profile-place {
    width: 30%;
    font-family: 'Prata', serif;
    font-size: 20px;
    text-align: right;
    margin: 2% 0;
  }

  &__profile-job {
    width: 30%;
    font-family: 'Prata', serif;
    font-size: 20px;
    margin: 0;
    text-align: right;
  }

  &__profile-item {
    width: 60%;
    text-align: center;
    font-family: 'Prata', serif;
    font-size: 20px;
    margin-bottom: 0;
  }

  &__btn-box {
    flex-direction: column;
    margin-left: 2%;
  }

  &__edit-btn {
    margin: 20px 0;
  }

  &__calender-btn {
    margin: 40px 0;
  }

  &__btn-shadow {
    border: 2px solid #000!important;
    background: #fff;
    -webkit-box-shadow: 4px 4px 0 #000;
    box-shadow: 4px 4px 0 #000;
    width: 150px;
    height: 40px;
  }

  &__btn-shadow:hover {
    -webkit-box-shadow: -4px -4px 0 #000;
    box-shadow: -4px -4px 0 #000;
  }
}

@media screen and (max-width:1600px) {
  .my-page {

    &__profile-content {
      width: 60%;
    }

    &__profile-box {
      padding: 2% 0;
    }

    &__btn-box {
      width: 20%;
      text-align: center;
    }
  }
}

@media screen and (max-width:1200px) {
  .my-page {

    &__profile-content {
      width: 70%;
    }

    &__profile-box {
      padding: 3% 0;
    }

    &__btn-box {
      width: 20%;
      text-align: center;
    }
  }
}


@media screen and (max-width:768px) {
  .my-page {

    &__profile {
      display: block;
    }

    &__profile-content {
      margin: 0 5%;
      width: 90%;
    }

    &__profile-box {
      padding: 3% 0;
    }

    &__profile-name {
      font-size: 18px;
    }

    &__profile-place {
      font-size: 18px;
    }

    &__profile-job {
      font-size: 18px;
    }

    &__profile-item {
      font-size: 18px;
    }

    &__btn-box {
      margin: 0;
      text-align: center;
    }

    &__edit-btn {
      margin: 40px 0;
    }
  }
}

@media screen and (max-width:425px) {
  .my-page {

    &__profile {
      display: block;
    }

    &__profile-content {
      display: flex;
      height: 100px;
      margin: 0 5%;
      width: 90%;
    }

    &__icon_image {
      width: 100px;
      height: 100px;
    }

    &__profile-box {
      padding: 3% 0;
    }

    &__profile-name {
      font-size: 12px;
    }

    &__profile-place {
      font-size: 12px;
    }

    &__profile-job {
      font-size: 12px;
    }

    &__profile-item {
      font-size: 12px;
    }

    &__btn-box {
      text-align: center;
    }

    &__edit-btn {
      margin: 40px 0;
    }

    &__calender-btn {
      margin: 40px 0;
    }
  }
}