.post-index {
  background-color: rgba(177,224,216,0.1);
  &__heading {
    padding-top: 150px;
    padding-bottom: 80px;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
  }

  &__title {
    font-size: 60px;
  }
}