// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// index-page

.post-heading {
  padding-top: 150px;
  padding-bottom: 80px;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 60px;
  text-align: center;
}

.index-content {
  display: flex;
}

.members {
  width: 50%;
}

.members-heading {
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
}

.member-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
hr {
  width: 60%;
  margin-left: 150px;
}

.member {
  display: flex;
  height: 100px;
  width: 60%;
  margin-left: 150px;
}

.icon_image {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  object-fit: cover;
}


.profile {
 width: 50%;
 margin-left: 20px;
 font-family: 'Prata', serif;
}

.profile-place {
  margin-left: 47px;
  font-family: 'Prata', serif;
}

.profile-job {
  margin-left: 63px;
  font-family: 'Prata', serif;
}

.profile-item {
  margin-left: 20px;
  font-family: 'Prata', serif;
}

.send-btn {
  padding-left: 20px;
  padding-top: 25px;
}

a.btn-border {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
}

a.btn-border:hover {
  color: #fff;
  background: #000;
}

.ranking {
  width: 50%;
}

.ranking-heading {
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
}

.ranking-box {
  text-align: center;
}

.ranking-list {
  margin-bottom: 10px;
}

.ranking-number {
  width: 10%;
  font-size: 20px;
  font-family: 'Prata', serif;
  letter-spacing: 5px;
}

.ranking-name {
  width: 25%;
  font-size: 20px;
  font-family: 'Prata', serif;
}

.ranking-post {
  width: 10%;
  font-size: 20px;
  font-family: 'Prata', serif;
}

// new.html

.receive-member {
  display: flex;
  justify-content: center;
}

.receive-member-content {
  display: flex;
  height: 100px;
  width: 30%;
  justify-content: center;
}

.receive-profile {
 width: 50%;
 margin-left: 20px;
 font-family: 'Prata', serif;
 text-align: center;
}

.content-group {
  margin-top: 100px;
  margin-bottom: 120px;
  display: flex;
  justify-content: center;
  height: 300px;
}

.content-form {
  width: 25%;
}

.post-btn {
  padding-left: 50px;
  margin-top: 60px;
  text-align: center;
}
