@import "global";

.post-new {
  background-image: image-url('pexels-photo-6140236');
  background-size: cover;
  background-position: 0 -390px;


  &__bg-opacity {
    @extend %bg-opacity;
  }

  &__heading {
    @extend %heading;
  }

  &__title {
    @extend %title;
  }


  &__receive-member {
    display: flex;
    justify-content: center;
  }

  &__member-content {
    display: flex;
    width: 30%;
    padding: 0.5%;
    text-align: center;
    box-shadow: 0 0 10px #3c3c3c;
    background-color: #fff;
    border-radius: 25px;
  }

  &__icon_image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin: 1%;
  }

  &__member-profile {
    width: 80%;
    padding: 1.5% 0;
    margin-left: 2%;
    font-family: 'Prata', serif;
    text-align: center;
  }

  &__profile-name {
    @extend %profile-item;
  }

  &__profile-place {
    @extend %profile-item;
  }

  &__profile-job {
    @extend %profile-item;
  }

  &__profile-item {
    width: 60%;
    font-family: 'Prata', serif;
  }

  &__content {
    margin-top: 100px;
    padding-bottom: 30%;
    display: flex;
    justify-content: center;
    height: 300px;
  }

  &__content-form {
    width: 25%;
  }

  &__button {
    margin-top: 60px;
    text-align: center;
  }

  &__fuwatto-button {
    @extend %fuwatto-button;
    @extend %fuwatto-button:hover;

    &--green {
      @extend %fuwatto-button;
      background-color: #23b1a5;
      width: 45%;
      margin: 2% 4%;
    }

    &--green:hover {
      @extend %fuwatto-button:hover;
    }
  }
}

@media screen and (max-width:1024px) {
  .post-new {
    background-position: 0;
    background-repeat: no-repeat;

    &__member-content {
      width: 50%;
    }

    &__icon_image {
      margin: 4% 1%;
    }

    &__member-profile {
      width: 80%;
      padding: 4% 0;
    }

    &__profile-item {
      width: 70%;
      font-size: 16px;
    }

    &__content {
      padding-bottom: 0%;
      height: 200px;
    }

    &__content-form {
      width: 40%;
    }
  }
}

@media screen and (max-width:768px) {
  .post-new {
    background-position: 100% 100%;
    background-repeat: no-repeat;

    &__member-content {
      width: 70%;
    }

    &__icon_image {
      width: 80px;
      height: 80px;
      margin: 8.5% 1%;
    }

    &__member-profile {
      width: 80%;
      padding: 8% 0;
    }

    &__profile-item {
      width: 70%;
      font-size: 16px;
    }

    &__content {
      padding-bottom: 0%;
      height: 200px;
    }

    &__content-form {
      width: 50%;
    }
  }
}

@media screen and (max-width:425px) {
  .post-new {
    background-size: contain;
    background-position: 100% 100%;
    background-repeat: no-repeat;

    &__member-content {
      width: 95%;
    }

    &__icon_image {
      width: 80px;
      height: 80px;
      margin: 7% 1%;
    }

    &__member-profile {
      width: 80%;
      padding: 7% 0;
    }

    &__profile-item {
      width: 70%;
      font-size: 12px;
    }

    &__content {
      padding-bottom: 0%;
      height: 200px;
    }

    &__content-form {
      width: 70%;
    }
  }
}