@import "global";

.profile-form {
  margin-bottom: 8%;

  &__button-group {
    text-align: center;
    margin-top: 8%;
  }

  &__fuwatto-button {
    @extend %fuwatto-button;
    @extend %fuwatto-button:hover;

    &--green {
      @extend %fuwatto-button;
      background-color: #23b1a5;
      width: 10%;
      margin: 2% 4%;
    }

    &--green:hover {
      @extend %fuwatto-button:hover;
    }

    &--red {
      @extend %fuwatto-button;
      background-color: #e95280;
      width: 10%;
      margin: 2% 4%;
    }

    &--red:hover {
      @extend %fuwatto-button:hover;
    }
  }
}