.profile-form {
  margin-bottom: 120px;

  &__button-group {
    text-align: center;
    margin-top: 8%;
  }

  %__fuwatto-button {
    display: inline-block;
    color: #FFF;
    padding: 0.8em;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    -webkit-tap-highlight-color: transparent;
    transition: .3s ease-out;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    color: #212529;
  }

  %__fuwatto-button:hover {
    cursor: pointer;
	  text-decoration: none;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.12), 0 3px 20px 0 rgba(0,0,0,0.12), 0 5px 6px -2px rgba(0,0,0,0.2);
  }

  &__fuwatto-button {
    @extend %__fuwatto-button;
    @extend %__fuwatto-button:hover;

    &--green {
      @extend %__fuwatto-button;
      background-color: #23b1a5;
      width: 10%;
      margin: 2% 4%;
    }

    &--green:hover {
      @extend %__fuwatto-button:hover;
    }

    &--red {
      @extend %__fuwatto-button;
      background-color: #e95280;
      width: 10%;
      margin: 2% 4%;
    }

    &--red:hover {
      @extend %__fuwatto-button:hover;
    }
  }
}