.top-btn {

  &__button {
    width: 240px;
    height: 100px;
    border: 2px solid #34495e;
    float: left;
    text-align: center;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 0 40px 0;
  }

  &__effect {
    width: 240px;
    height: 100px;
    top: -2px;
    right: -240px;
    background: #34495e;
    position: absolute;
    transition: all .5s ease;
    z-index: 1;
  }

  &__link {
    font-family: arial;
    font-size: 24px;
    color: #34495e;
    text-decoration: none!important;
    line-height: 100px;
    transition: all .5s ease;
    z-index: 2;
    position: relative;
    font-family: 'Julius Sans One', sans-serif;
    display: block;
  }

  &__button:hover &__effect {
    right: 0;
  }

  &__button:hover &__link {
    color: #fff;
  }
}


@media screen and (max-width:768px) {
  .top-btn {
    &__button {
      width: 200px;
      height: 80px;
    }

    &__effect {
      width: 200px;
      height: 80px;
      right: -200px;
    }

    &__link {
      font-size: 20px;
      line-height: 80px;
    }
  }
}

@media screen and (max-width:425px) {
  .top-btn {
    &__button {
      width: 150px;
      height: 50px;
    }

    &__effect {
      width: 150px;
      height: 50px;
      right: -150px;
    }

    &__link {
      font-size: 14px;
      line-height: 50px;
    }
  }
}