@import "global";

.unsubscribe {

  &__heading {
    @extend %heading;
  }

  &__title {
    @extend %title;
  }

  &__content {
    text-align: center;
  }

  &__text {
    font-size: 20px;
    font-family: 'Julius Sans One', sans-serif;
  }

  &__button-group {
    text-align: center;
    margin-top: 8%;
  }

  &__fuwatto-button {
    @extend %fuwatto-button;
    @extend %fuwatto-button:hover;

    &--blue {
      @extend %fuwatto-button;
      background-color: #3489db;
      width: 15%;
      margin: 2% 3%;
    }

    &--blue:hover {
      @extend %fuwatto-button:hover;
    }

    &--red {
      @extend %fuwatto-button;
      background-color: #e95280;
      width: 10%;
      margin: 2% 4%;
    }

    &--red:hover {
      @extend %fuwatto-button:hover;
    }
  }
}

@media screen and (max-width:1024px) {
  .unsubscribe {

    &__fuwatto-button {
      @extend %fuwatto-button;
      @extend %fuwatto-button:hover;

      &--blue {
        @extend %fuwatto-button;
        width: 25%;
      }

      &--red {
        @extend %fuwatto-button;
        width: 20%;
      }
    }
  }
}

@media screen and (max-width:768px) {
  .unsubscribe {

    &__fuwatto-button {
      @extend %fuwatto-button;
      @extend %fuwatto-button:hover;

      &--blue {
        @extend %fuwatto-button;
        width: 35%;
      }

      &--red {
        @extend %fuwatto-button;
        width: 30%;
      }
    }
  }
}

@media screen and (max-width:425px) {
  .unsubscribe {

    &__fuwatto-button {
      @extend %fuwatto-button;
      @extend %fuwatto-button:hover;

      &--blue {
        @extend %fuwatto-button;
        width: 50%;
        margin: 2% 2%;
      }

      &--red {
        @extend %fuwatto-button;
        width: 40%;
        margin: 2% 2%;
      }
    }
  }
}