// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.heading {
  padding-top: 150px;
  padding-bottom: 80px;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 60px;
}

.content {
  margin-bottom: 120px;
}

.position {
  margin-top: 100px;
  padding-left: 0;
}


// my-page

.my-profile {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.my-profile-content {
  display: flex;
  height: 150px;
  width: 45%;
  justify-content: center;
}

.my-icon_image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.my-profile-box {
  width: 50%;
  margin-left: 20px;
  font-family: 'Prata', serif;
  padding: 3.5% 0;
}

.my-profile-name {
  font-size: 20px;
  width: 45%;
}

.my-profile-place {
  width: 45%;
  font-family: 'Prata', serif;
  font-size: 20px;
}

.my-profile-job {
  width: 45%;
  font-family: 'Prata', serif;
  font-size: 20px;
  margin-bottom: 0;
}

.my-profile-item {
  margin-left: 20px;
  font-family: 'Prata', serif;
  font-size: 20px;
  margin-bottom: 0;
}

.btn-box {
  flex-direction: column;
}

.edit-btn {
  margin: 20px 0;
}

.calender-btn {
  margin: 40px 0;
}

a.btn-shadow {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: 4px 4px 0 #000;
  width: 150px;
  height: 40px;
}

a.btn-shadow:hover {
  -webkit-box-shadow: -4px -4px 0 #000;
  box-shadow: -4px -4px 0 #000;
}


.post-content {
  width: 50%;
}

.post-content-heding {
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
}

.post-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.post-item {
  display: flex;
  height: 100px;
  width: 60%;
  margin-left: 150px;
  margin-bottom: 30px;
  flex-direction: column;
  text-align: center;
  position: relative;
  padding: 0.25em 1em;
}


.post-item:before,.post-item:after{
    content:'';
    width: 20px;
    height: 30px;
    position: absolute;
    display: inline-block;
}
.post-item:before{
    border-left: solid 1px #5767bf;
    border-top: solid 1px #5767bf;
    top: 0;
    left: 0;
}
.post-item:after{
    border-right: solid 1px #5767bf;
    border-bottom: solid 1px #5767bf;
    bottom: 0;
    right: 0;
}
