// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.heading {
  padding-top: 150px;
  padding-bottom: 80px;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 60px;
}

.content {
  margin-bottom: 120px;
}

.position {
  margin-top: 100px;
  padding-left: 0;
}


// my-page

.my-profile {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.my-profile-content {
  display: flex;
  height: 100px;
  width: 30%;
  justify-content: center;
}

.my-profile-item {
  width: 50%;
  margin-left: 20px;
  font-family: 'Prata', serif;
  text-align: center;
}

.profile-edit {

}

.post-content {
  width: 50%;
}

.post-content-heding {
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Prata', serif;
}

.post-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.post-item {
  display: flex;
  height: 100px;
  width: 60%;
  margin-left: 150px;
  flex-direction: column;
}