// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.heading {
  padding-top: 150px;
  padding-bottom: 80px;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 60px;
}

.content {
  margin-bottom: 120px;
}

.position {
  margin-top: 100px;
  padding-left: 0;
}


// my-page

.my-profile {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.my-profile-content {
  display: flex;
  height: 150px;
  width: 45%;
  justify-content: center;
}

.my-icon_image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.my-profile-box {
  width: 50%;
  margin-left: 20px;
  font-family: 'Prata', serif;
  padding: 3.5% 0;
}

.my-profile-name {
  font-size: 20px;
  width: 45%;
}

.my-profile-place {
  width: 45%;
  font-family: 'Prata', serif;
  font-size: 20px;
}

.my-profile-job {
  width: 45%;
  font-family: 'Prata', serif;
  font-size: 20px;
  margin-bottom: 0;
}

.my-profile-item {
  margin-left: 20px;
  font-family: 'Prata', serif;
  font-size: 20px;
  margin-bottom: 0;
}

.btn-box {
  flex-direction: column;
}

.edit-btn {
  margin: 20px 0;
}

.calender-btn {
  margin: 40px 0;
}

a.btn-shadow {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: 4px 4px 0 #000;
  width: 150px;
  height: 40px;
}

a.btn-shadow:hover {
  -webkit-box-shadow: -4px -4px 0 #000;
  box-shadow: -4px -4px 0 #000;
}

.my-content {
  display: flex;
}

.post-content {
  width: 50%;
}

.post-content-heading {
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
}

.post-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.post-item {
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
  padding: 0.5%;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 0 10px #3c3c3c;
  background-color: #fff;
  border-radius: 50px;
}

.favorite-content {
  width: 50%;
}

.favorite-content-heading {
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
}
